body{
    background-image: url("hatter.png");
}
.main{
    background-color: bisque;
    border-radius: 3vh;
    border: 0.5vh solid rgb(117, 50, 2);
    width: 80%;
    padding: 2vh;
}
#collection{
    padding-top: 10vh;
}
img{
    width: 25vh;
    height: 25vh;
}
p{
    font-size: 2vh;
    color: rgb(117, 50, 2);
    font-weight: bold;
}
.left{
    width: 10%;
}
.right{
    width: 10%;
}
.btn{
	background-color: rgb(117, 50, 2);
	outline: none;
	font-size: 1vh;
	height: auto;
    width: 100%;
	font-weight: normal;
	padding: 1vh;
	text-transform: uppercase;
	border-color: bisque;
    color: bisque;
    border-radius: 1vh;
}
.btn:hover,
.btn:focus {
	color: rgb(117, 50, 2);
	background-color: bisque;
	border-color: rgb(117, 50, 2);
}
::-webkit-scrollbar {
    width: 1.3vh;
  }
  ::-webkit-scrollbar-track {
    background: bisque;
}
::-webkit-scrollbar-thumb {
    background: rgb(117, 50, 2);
    border-radius: 0.9vh;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: bisque;
  } 
  ::-webkit-scrollbar-track:hover{
    background: rgb(117, 50, 2);
  }