@model IEnumerable<Product>
@{
    ViewData["Title"] = "AdminProduct";
}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Admin.css">
    <link rel="icon" src="~/favicon.ico">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td class="ht"><img src="~/logo.png" width="200px" height="200px"></td>
                <td class="ht"><a asp-controller="Home" asp-action="AdminBuy" class="headlink">Buy</a></td>
                <td class="ht"><a asp-controller="Home" asp-action="AdminUser" class="headlink">User</a></td>
                <td class="ht"><a asp-controller="Home" asp-action="Index" class="headlink">Index</a></td>
            </tr>
        </table>
    </div>
    <div>
        <form method="post" asp-action="CreateAdminProduct" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Pictures
                    </th>
                    <th>
                    </th>
                </tr>
                <tr>
                    <td>
                        <input name="item" type="text" />
                    </td>
                    <td>
                        <input name="price" type="number" />
                    </td>
                    <td>
                        <input name="Pictures" type="file" accept="image/png"/>
                    </td>
                    <td class="sendlink">
                        <input type="submit" value="Create">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    @if (Model.Count() > 0)
    {
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="main" >
            <table>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Item
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (Product item in Model)
                {
                    <form method="post">
                    <tr>
                        <td>
                            <input name="Id" type="number" value=@item.Id>
                        </td>
                        <td>
                            <input name="item" type="text" value=@item.item>
                        </td>
                        <td>
                            <input name="price" type="number" value=@item.price>
                        </td>
                        <td>
                            <img width=200px height=200 alt="@item.item-.png" src="~/@item.item-.png">
                        </td>
                        <td class="sendlink">
                            <input type="submit" value="Delete" asp-action="DeleteAdminProduct">
                        </td>
                        <td class="sendlink">
                            <input type="submit" value="Update" asp-action="UpdateAdminProduct">
                        </td>
                    </tr>
                    </form>
                }
            </table>
        </div>
    }
</body>
</html>