@model caffetogo.Models.Product
@{
    ViewData["Title"] = "CreateAdminProduct";
}
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Admin.css">
</head>
<body>
    <div>
        <table>
            <tr>
                <td class="ht"><img src="~/logo.png" width="200px" height="200px"></td>
                <td class="ht"><a asp-controller="Home" asp-action="AdminBuy" class="headlink">Buy</a></td>
                <td class="ht"><a asp-controller="Home" asp-action="AdminUser" class="headlink">User</a></td>
                <td class="ht"><a asp-controller="Home" asp-action="Index" class="headlink">Index</a></td>
            </tr>
        </table>
    </div>
    <div>
        <form method="post" asp-action="CreateAdminProduct">
            <table>
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Pictures
                    </th>
                    <th>
                        <a asp-controller="Home" asp-action="AdminProduct">Data</a>
                    </th>
                </tr>
                <tr>
                    <td>
                        <input asp-for="item" type="text"/>
                    </td>
                    <td>
                        <input asp-for="price" type="number"/>
                    </td>
                    <td>
                        <input asp-for="Pictures" type="text"/>
                    </td>
                    <td class="sendlink">
                        <input type="submit" value="Create" >
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>